body {
    height: 100vh;
    background-image: linear-gradient(to top right, hsl(229, 83%, 60%), hsl(263, 87%, 35%), hsl(276, 91%, 38%))
}

img {
    width: 100%;
}

#white{
    color: white;
}

.row {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left{
    color: white;
}

.left a {
    color: white;
    text-decoration: none;
}